
#bodycont{
    padding: 75px;
    background-color: cadetblue;
    
  }
  #contactme {
      background-color: lavender;
      margin-top: 100px;
      margin-bottom: 15px;
      color:white;
    }
.container{
    font-family: 'Nunito', sans-serif;
}
  .pictxt {
      border: solid;
      z-index: 1;
      


  }
 #index{
      margin-top: 100px;
      margin-bottom: 60px;

  }
  .pic{
     align-items: center;
     padding:20px;
     height: 300px;
     width: 150px;
     z-index: 0;
  }
  .port-container{
    margin: 40px;
    padding: 30px;
    background-color: lavender;
  }
  #copyright {
      text-align: center;
      align-content: center;
      color: gray;
      font-size: small;
  }